.Rhistory
.Rproj.user
.RData
.Ruserdata
.DS_Store
*.pdf
*_cache
*_files
test
windows
inst/doc
*.docx
doc
docs
autom4te.cache
config.log
config.status
simulations
supplementary.html
inst/gsl
standalone/build
.vscode
git.log

